<header class="header">
<h1><span class="given">Pete</span>
<span class="surname">Grillot</span></h1>
<aside class="aside">
  <img src="../static/profile.jpg" alt="Pete's profile picture" />
  <h2>Frontend Focused<br />Software Engineer</h2></aside>
</header>