<!DOCTYPE html>
<html>
  <%- include('head.ejs'); %>
  <body>
    <%- include('nav.ejs'); %>
    <%- include('content.ejs'); %>
    <%- include('footer.ejs'); %>
    <floating-logo><img src="/static/reload-bg.png" /></floating-logo>
  </body>
</html>