:root {
  --border-radius: 8px;
  --color-body-text: #5d5d5d;
  /* Primary */
  --color-header-text: #411d59;
  --color-link: #bf2188;
  --color-link-visited: #751d53;
  --color-link-dark: #f25c5c;
  --color-link-dark-visited: #8d3636;
  /* Secondary */
  --color-main-background: #fffaf3;
  --font-display: "Bodoni Moda", serif;
  --font-body: "Nato Sans", sans-serif;
  --gradient-pink: radial-gradient(circle, #e789df 0%, #bf537a 100%);
  --color-accent-blue: #bf2188;
  --color-tan: #fbe7d6;
  --color-accent-pink: #f25c5c;
}

html,
body {
  min-height: 100vh;
}

body {
  color: var(--color-body-text);
  background-color: var(--color-main-background);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Typography */
html {
  font-size: 10px;
}

body {
  font-weight: 300;
  font-family: var(--font-body);
  font-size: 1.6rem;
}

p,
ul,
li {
  line-height: 1.4;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--color-header-text);
}

h1 span.given {
  font-size: 10rem;
}

h1 span.surname {
  font-size: 12rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  background: var(--gradient-pink);
  font-family: var(--font-display);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-display);
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300;
}
h4 {
  font-size: 1.6rem;
  color: var(--color-header-text);
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-tan);
  margin: 2rem 0;
}

/* Custom page layout */
.header {
  display: flex;
  padding-top: 1rem;
  background-size: cover;
  height: 260px;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

.header > h1 {
  color: var(--color-header-text);
  margin: 0;
  padding: 0;
  font-size: 6rem;
  text-shadow: #1d1247;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.header > .aside {
  align-content: center;
  display: block;
  flex: 1;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.header > .aside h2 {
  font-size: 1.8rem;
  margin: 0;
  color: var(--color-header-text);
}

.header img {
  height: 120px;
  border-radius: var(--border-radius);
}

h3.badge-heading {
  margin: 0;
  background-color: var(--color-accent-pink);
  border-radius: var(--border-radius);
  color: var(--color-tan);
  padding: 0.4rem 0.8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
}

.contact a {
  margin: 0.3rem;
}
/* Skills */
.skills {
  max-width: 520px;
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.badge-list li {
  background: var(--color-accent-pink);
  color: #fff;
  padding: 0.2rem 0.6rem;
  margin: 0 0.3rem 0.6em;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4px;
}

/* Article */
.article {
  padding: 1.2rem;
  padding-top: 6rem;
  flex: 1;
  position: relative;
  color: var(--color-body-text);
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 4rem;
  background: var(--color-main-background);
}

.header + .article {
  padding-top: 2rem;
}

.article::before {
  display: block;
  content: " ";
  width: 100%;
  height: 19px;
  transform: skew(0, -1deg);
  background: var(--color-tan);
  position: absolute;
  top: -10px;
  left: 0;
}

/* Experience */
details summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  background-color: transparent;
}

details summary:hover {
  background-color: var(--color-tan);
}

details summary img {
  height: 60px;
  border-radius: var(--border-radius);
  margin-right: 1rem;
  vertical-align: middle;
}

img[alt="Screenshot"] {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1.2rem 0;
}

/* Footer */
.footer {
  padding: 2rem 1.4rem;
  color: var(--color-footer-text);
  position: relative;
}

.footer:before {
  display: block;
  content: " ";
  width: 100%;
  height: 4vw;
  transform: skew(0, 2deg);
  background: var(--color-accent-pink);
  position: absolute;
  top: -2vw;
  left: 0;
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  padding-right: 1.2rem;
  padding: 0;
  margin: 0;
  padding-right: 1.2rem;
}

footer a {
  color: var(--color-link-dark);
}

footer a:visited {
  color: var(--color-link-dark-visited);
}
