:root {
  --color-body-text: #ffeeee;
  --color-header-text: #7fedff;
  --color-link: aquamarine;
  --color-link-visited: #42a788;
  --color-background: #5383fd;
  --color-shadow: #19264477;
  --color-footer-background: #8cdd9877;
  --color-footer-text: #343434;
  --color-link-dark: #185a32;
  --color-link-dark-visited: #691378;
}
html,body {
  min-height: 100vh;
}
body {
  color: var(--color-body-text);
  background: var(--color-background);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
/* typography */
html {
  font-size: 10px;
}
body {
  font-weight: 300;
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.6rem;
}
p, ul, li {
  line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  color: var(--color-header-text);
  text-shadow: 2px 2px 0px var(--color-shadow);

}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.6rem;

  font-weight: 300;
}
h4 {
  font-size: 1rem;
}
a {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}

background-image {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../static/background.webp);
  position: fixed;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  z-index: -1;
  opacity: 0.6;
}


/* Custom page layout */
header {
  display: flex;
  align-items: end;
  padding-top: 1rem;
  height: 30rem;
}
header > h1 {
  color: var(--color-header-text);
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 13rem;
  margin-right: 2rem;
}
header > aside {
  font-size: 1.8rem;
}
/* Nav */
.nav {
  background: var(--color-shadow);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px;
  display: flex;
}
.nav img {
  width: 4rem;
  height: 4rem;
}
.nav > ul {
  display: flex;
  margin: 0;
  margin-left: 2rem;
  padding: 0;
  padding-top: 1rem;
  padding-right: 1rem;
  color: var(--color-body-text)
}
.nav span{
  text-decoration: none;
}
.nav a  {
  display: block;
  text-decoration: none;
  color: var(--color-link);
}
.nav > ul > li {
  list-style: none;
  line-height: normal;
  padding-right: 2rem;
  position: relative;
}
.nav > ul > li > span {
  position: absolute;
  left: -1rem;
}
.nav > ul > li > a:visited {
  text-decoration: none;
  color: var(--color-link);
}

/* Article */
.article {
  padding: 1.2rem;
  padding-top: 0;
  flex: 1;
  max-width: 76rem;
  margin: auto;
  margin-top: 6rem;
}

/* Footer */
.footer {
  padding: 2rem 1.4rem;
  background: var(--color-footer-background);
  color: var(--color-footer-text);
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer li {
  padding-right: 1.2rem;
  padding: 0;
  margin: 0;
  padding-right: 1.2rem;
}
footer a {
  color: var(--color-link-dark);
}
footer a:visited {
  color: var(--color-link-dark-visited);
}

floating-logo {
  position: fixed;
  z-index: -1;
  width: 60vw;
  height: 60vw;
  right: 0;
  top: 20vh;
  animation: spin 60s infinite;
  opacity: 0.05;
}
@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(360deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
floating-logo img {
  width: 100%;
}

/* Custom */
