@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  h1 span.given {
    font-size: 4.6rem;
  }

  h1 span.surname {
    font-size: 5.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  body {
    font-size: 1.1rem;
    background-color: var(--color-tan);
  }

  .header {
    padding: 10px;
  }

  .header > .aside h2 {
    display: none;
  }

  .header img {
    height: 80px;
  }

  .header img {
    position: absolute;
    right: 6px;
    z-index: -1;
    filter: grayscale(1);
    /* border-radius: 100%; */
    top: 5px;
  }

  .article:before {
    background-color: var(--color-accent-pink);
  }

  .article {
    max-width: unset;
    margin: 0 auto;
  }

  .footer ul {
    flex-direction: column;
  }
  details {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  details summary {
    padding: 0.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color: var(--color-tan);
  }
  details summary h3 {
    margin: 0;
    padding: 0;
  }
  summary p {
    position: absolute;
    bottom: 0;
    right: 0.6rem;
    font-size: 0.8rem;
  }
}
